*{
    padding: 0px;
    margin: 0px;
}
.editpimg{
    height: 100vh;
    width: 100%;
}
.ptbgimg{
    background-image: url('../images/lp1.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
}
.llogoedit{
    width: 25%;
}
.editnbar{
    border: 1px solid black;
    background-color: #D2EFF7;
    border-radius: 10px;
}
.editnbar:hover{
    border: 1px solid rgb(253, 60, 60);
    border-radius: 20px;
    -webkit-transition: 0.3s;
    background-color: rgb(253, 60, 60);
  transition: 0.5s;
}
.editportal{
    border: 1px solid lightseagreen;
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 60px 0px rgb(27, 167, 160);
}
.portalbtnedit:hover{
    border-radius: 20px;
    transition: 0.5s;
    padding: 10px;
}
.portalheadedit{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder ;
    background: #0E232B;
    background: linear-gradient(to right, #0E232B 0%, #FF3224 42%, #5C5C5C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
